/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
body {
    margin: 0;
    padding: 0;
}

.navClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #540B51;
   
}
.ulClass {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.slackLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.logClass {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.headerClass {
    display: flex;
    flex-direction: row; 
    background-color: #540B51;

}

.headerImg {
    display: flex;
    flex-direction: row; 
}

.headerImage {
    width: 60%
}

.headP {
    display: flex;
    flex-direction: column; 
}
.headP h1 {
    font-size: 4rem;
    color: white ;
}
.companies {
    background-color: #F3EAE2;
    display: flex;
    flex-direction: column; 
}
.companies p {
    text-align: center;
    margin: 20px;
    font-size: 2rem;
}
.companies div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    margin: 30px;
}
.companies img {
    width: 5%; 
}
.teamSectiom {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.teamSectiom h3 {

}
.teamH3 {
    text-align: center;
    margin: 20px;
    font-size: 3rem;
}
.teamP {
    text-align: center;
    margin: 20px;
    font-size: 1rem;
}
.teamUl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin: 30px;
    list-style-type: none;
}
.teamLi {
    width: 15%;

}
.number {
    font-size: 3rem;
    font-weight: 800;
}
.hqClass{
    background-color: #540B51;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.hqButton{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}
.hqButton button{
    width: 15%;
    height: auto;
    justify-content: center;
    margin: 10px;
    padding: 10px
}

.hqH3{
    text-align: center ;
    color: white;
    font-size: xx-large;
}



